//Font
@font-face {
  font-family: Caslon;
  src: url(../fonts/ACaslonPro-Regular.otf);
}
@font-face {
  font-family: Springville;
  src: url(../fonts/Springville-Regular3.otf);
}

//Main
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.link {
  transition: .5s;
  text-transform: uppercase;
  border-bottom: thin #aaa solid;
  cursor: pointer;
  &:hover {
    border-color: black;
  }
}

.main {
  list-style: none;
  margin-top: 122px;
  @media (max-width: 700px) {
    margin-top: 50px;
  }
}

//Header
.header {
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  height: 122px;
  @media (max-width: 700px) {
    height: 50px;
  }
  position: fixed;
  width: 100%;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    background: white;
   
  }
  .logo {
    height: 35px;
    img {
      display: flex;
      height: 100%;
    }
    margin-left: 10%;
    width: 196px;
    @media (max-width: 700px) {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}

 ul.nav {
  font-family: arial, sans-serif;
  margin-right: 10%;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: grey;
  li {
    margin-left: 20px;
  }
  img {
    margin-top: 2px;
    position: relative;
  }
  @media (max-width: 700px) {
    margin-right: 20px;
    :not(:last-child) {
      display:none;
    }
  }
}

//Footer
footer {
  font-family: arial, sans-serif;
  font-size: 11px;
  padding: 75px 0;
  text-align: center;
  letter-spacing: .1px;
  .name {
    &::before {
      content:'— ' ;
    }
    &::after {
      content:' -' ;
    }
  }
}

@media (max-width: 700px) {
  footer {
    padding: 10px 0 40px 0;
  }
  .social-media {
    display: block;
  }
  .copyright {
    display: block;
  }
  .name {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}
